<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор пользователя</title>
</head>
<body>
<h1>Редактировать пользователя</h1>

<form th:action="@{/admin/edit}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{name}" required>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
    </div>
    <div>
        <label for="password">Новый пароль:</label>
        <input type="password" id="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
    </div>
    <div>
        <label for="roles">Роль:</label>
        <select multiple th:field="*{roles}" id="roles">
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.role}"></option>
        </select>
    </div>
    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/admin}">Назад</a>
</body>
</html>