<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страница пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
                <span th:text="${user.email}"></span> с ролью:
                <span th:each="role : ${user.roles}" th:text="${role.role} + ' '"></span>
            </span>
        <form th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light" type="submit">Выход</button>
        </form>
    </div>
</header>

<div class="d-flex">
    <nav class="sidebar bg-primary p-3" style="min-width: 100px;">
        <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a th:href="@{/admin}" class="d-block text-white">Admin</a>
        </div>
        <div th:if="${#authorization.expression('hasRole(''USER'')')}">
            <a th:href="@{/user}" class="d-block text-white">User</a>
        </div>
    </nav>
    <main class="container mt-4">
        <h2>Страница пользователя</h2>
        <div class="card">
            <div class="card-header">О пользователе</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Возраст</th>
                        <th>Роль</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.age}"></td>
                        <td>
                            <span th:each="role : ${user.roles}" th:text="${role.role} + ' '"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>